PORT=8000
MONGODB_URL="add you mongodb url"

ACCESS_TOKEN_SECRET=secretKHKHK-JIOJOHGUHGHIHOUUI
ACCESS_TOKEN_EXPIRY = 1d

REFRESH_TOKEN_SECRET = refresh-token-secret
REFRESH_TOKEN_EXPIRY = 7d

NODE_ENV=development

CLOUDINARY_NAME="your cloudinary name"
CLOUDINARY_SECRET="your cloudinary secret"
CLOUDINARY_KEY="your cloudinary key"

SMTP_MAIL= your gmail smpt email
SMTP_PASSWORD=use your gmail smpt password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465

NODE_ENV=development

CLIENT_URL=http://localhost:5173